html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins";
  background-image: url("../images/bg.jpg");
  color: #f7daec;
}
#header {
  color: #f7daec;
  font-size: 70px;
  text-align: center;
  padding-top: 25px;
}
.bg {
  background-image: url("../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #f7daec;
  font-size:20px;
  margin-left: 2%;
  position: relative;
}
a:hover{
  color: #ff0040;
}
#search_form {
  margin-top: 50px;
  margin-left: 15%;
  background-color: #f7daec;
  height:20px;
  font-size: 10px;
  width:68%;
}
#searchbar {
  color:#3a0c32e7;
}

tbody {
  color: #3a0c32e7;
  background-color: white;
}

thead th {
  text-align: center;
  font-size: 20px;
}
#navpaging{
  float: right;
}
.photo-header,
.td-photo {
  display: inline-block;
  width: initial !important;
}

.img-container {
  width: 50px;
  height: 50px;
}

.img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.person {
  display: flex;
  align-items: center;
}

.person .person-name {
  margin: 0;
  padding-left: 15px;
  font-weight: bold;
}
.col-sm-6 {
  font-size: 18px;
}
.row {
  margin-left: 14%;
  font-size: 15px;
}
#edit {
  margin-left: 84%;
  width: 60px;
  background-color: #f7daec;
  border-color: #3a0c32e7;
  position: absolute;
}
#circle {
 position: absolute;
 margin-left: 90%;
}
#edit:hover,
#add:hover {
  color: #f7daec;
  background-color: #3a0c32e7;
}

.pagination > li > a {
  background-color: #f7daec;
  color: #3a0c32e7;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #3a0c32e7;
  background-color: #f7daec;
  border-color: #f7daec;
}

.pagination > .active > a {
  color: #f7daec;
  background-color: #3a0c32e7;
  border: solid 1px #3a0c32e7;
}

.pagination > .active > a:hover {
  background-color: #3a0c32e7;
  border: solid 1px #3a0c32e7;
}

.id {
	display:none;
}
.redirect {
  display: flex;
  align-items: center;
  cursor: pointer;
}

selection {
  text-align: center;
}
#alert{
  color: #3a0c32e7;
  font-size: 19px;
}
#cancel{
  color: black;
  background-color: #fc6500e0;
}
#deletion_permission {
	background-color: rgba(58, 12, 50, 0.906);
}
#filter {
  margin-top: 7px;
  background-color: #f7daec;
  border-color: #f7daec;
  color: #3a0c32e7;
  font-size: 15px;
  margin-left: 5px;
}
#delete {
  padding-top: 3px;
  margin-top: 9px;
  background-color: #f7daec;
  border-color: #f7daec;
  color: #3a0c32e7;
  font-size: 15px;
  margin-left: 15px;
}
#add {
  margin-top: 7px;
  background-color: #f7daec;
  border-color: #3a0c32e7;
  color: #3a0c32e7;
  font-size: 15px;
  margin-left: 25px;
  height:35px;
}
#add_new {
  margin-top: 7px;
  background-color: rgba(58, 12, 50, 0.906);
  border-color: #3a0c32e7;
  color: #f7daec;
  font-size: 15px;
  margin-left: 15px;
}
#add_new:hover{
  background-color: #f7daec;
  border-color: #3a0c32e7;
  color: #3a0c32e7;
}

#submitButton {
  margin-top: 7px;
  background-color: #fc0000e7;
  border-color: #3a0c32e7;
  color: #f7daec;
  font-size: 15px;
  margin-left: 15px;
  height:35px;
  width:75px;
  display:none;

}
#submitButton:hover{
  background-color: #f7daec;
  border-color: #3a0c32e7;
  color: #3a0c32e7;
}


#drop {
  font-size: 15px;
  position: relative;
  color: #3a0c32e7;
}

#select {
  margin-right: 6px;
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  padding: 10px;
  display: none;
}
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 45%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: large;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*Form*/

/*#abc{
  color: #3a0c32e7;
  font-size: 17px;
}
#addelement{
  color: #3a0c32e7;
}

#exampleModalLongTitle{
  color: #fc6500e0;
  font-size: 17px;
}

#addelement:hover{
  color: #f7daec;
  background-color: #3a0c32e7;
}
#Addform{
  height:2000px;
}
#langTitle{
  font-size: 30px;
  color: #3a0c32e7;
}*/
