html,
body {
  margin: 0;
  height: 100%;
  font-family: "Poppins";
}

.bg {
  background-image: url("../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#employee:hover,
#employee:focus,
#employee:active,
#employee.active,
#project:hover,
#project:focus,
#project:active,
#project.active {
  background-color: #3a0c32e7;
  border-color: #3a0c32e7;
  color: #f7daec;
}

#employee,
#project {
  width: 400px;
  height: 80px;
  font-size: 24px;
  background-color: #f7daec;
  border-color: #f7daec;
  color: #3a0c32e7;
}

#employee {
  margin-top: 14%;
}

#project {
  margin-top: 0.6%;
}

#title {
  color: #f7daec;
  font-size: 60px;
  text-align: center;
  padding-top: 2px;
}
#header {
  color: #f7daec;
  font-size: 70px;
  text-align: center;
  padding-top: 25px;
}
a {
  color: #f7daec;
  font-size:20px;
  margin-left: 2%;
  position: relative;
}
a:hover{
  color: #ff0040;
}
